@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap%27");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;

}

.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: max-content; 
    align-items: center;
    padding: 10px;
}

.article-box{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
align-items: center;


}

/* .article-box button{
    background-color: #690013;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: 600;
} */

.form-background-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000090;
}

.article-form {
    height: 25rem;
    width: 35rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(43, 39, 39, 0.6);
}

.article-form .form-title {
    color: #404040;
    font-family: "Roboto", sans-serif;
}

.article-form .buttons-wrapper {
    display: flex;
}

.article-form input,
.article-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: .9rem;
    font-family: "Roboto", sans-serif;
}

.article-form textarea {
    min-height: 10rem;
    resize: none;
}

.article-form-buttons{
display: flex;
justify-content: space-between;
}


.articles-container p {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #690013;
}

.article {
    background-color: #ffffff;
    /* border: 2px solid #677171; */
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 20rem;
    text-align: left;
    box-shadow: 1px 0px 2px 2px #00000020;
    word-wrap: break-word;
    overflow-y: auto;
}

.article h2 {
    color: #444444;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.article p {
    color: #878685;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: justify;
}

.article .author {
    font-size: .8rem;
    font-weight: normal;
    color: #000000;
    }
    
    .article .text-container {
        background-color: #f7f7f7;
        max-width: 25rem;
        min-width: 90%;
        min-height: 30%;
        max-height: 6rem;
        padding: .7rem .3rem;
        border-radius: .3rem;
        overflow-y: auto;
        }

        .article .text-container::-webkit-scrollbar {
            width: 8px;
        }
        
        .article .text-container::-webkit-scrollbar-track {
            border-radius: 15px;
        }
        
        .article .text-container::-webkit-scrollbar-thumb {
            background: #9c9c9c4b;
            border-radius: 10px;
        }
        
        .article .article-text {
            max-width: 100%;
            font-size: .9rem;
            font-weight: 400;
            color: #000000;
            text-wrap: wrap;
            word-wrap: break-word;
}

.btn {
    padding: .5rem 1rem;
    margin: .5rem;
    cursor: pointer;
    border: 1px solid #cf5269;
    border-radius: .3rem;
    background-color: #cf5269;
    color: #FFFFFF;
    transition: .3s;
}
    
.btn:hover {
    background-color: transparent;
    border: 1px solid #cf5269;
    color: #cf5269;
}

.edit-btn-color {
    background-color: transparent;
    border: 1px solid #cf5269;
    color: #cf5269;
}

.edit-btn-color:hover {
    background-color: #cf5269;
    border: 1px solid #cf5269;
    color: #FFFFFF;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column; /* Altera para uma coluna em telas menores */
        align-items: center; /* Centraliza os elementos na vertical */
    }

    .articles-container {
        width: 90%; /* Reduz a largura para preencher a tela */
    }

    .articles-container p {
        font-size: 18px; /* Reduz o tamanho da fonte para telas menores */
    }

    .article h2 {
        font-size: 22px; /* Reduz o tamanho da fonte para telas menores */
    }

    .article p {
        font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
    }

    .article-box button{
        font-size: 15px;
    }

    .article-box{
        margin-top: 20px;
    }
}
