.register-container {
    background-image: url('../../images/unicap.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.register-title {
    color: #690013;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.register-content {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.register-form-group {
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.register-error-message {
    color: red;
    font-family: Inter, sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

.register-button {
    background-color: #690013;
    color: white;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #550010;
}
